POSTGRES_USER=secure
POSTGRES_PASSWORD=secure
POSTGRES_DB=secure
PG_PORT=5432
# dont touch PG_HOST
PG_HOST=database

DJANGO_SECRET_KEY=secret
DJANGO_DEBUG=true

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

AWS_ACCESS_KEY_ID=
AWS_S3_CUSTOM_DOMAIN=
AWS_S3_REGION_NAME=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

SENDGRID_API_KEY=
SENDGRID_EMAIL_SENDER=